@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}


body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #ffffff;
}


.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

.button-second {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #82b3d3;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

.button-selected {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #7db54f;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

.page-header {
  color: #000000;
  background-color: #ffffff;
}

.navigation-link {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  text-transform: capitalize;
}

.navigation-button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
}

.main-index {
  color: #000000;
  background-color: #ffffff;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-image: url(../images/index_background.jpg);
}

.main-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.main-subtitle {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.advantages-list {
  color: #333333;
  background-color: #ffffff;
  text-align: center;
}

.advantages-city {
  background-color: #82b3d3;
}

.advantages-housing {
  background-color: #f0f6fa;
}

.advantages-food {
  background-color: #ffffff;
}

.advantages-souvenirs {
  background-color: #f0f6fa;
}

.advantages-bridge {
  background-color: #82b3d3;
}

.advantages-square {
  background-color: #f0f6fa;
}

.advantages-road {
  background-color: #e6f0f6;
}

.advantages-tourists {
  background-color: #f0f6fa;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.advantages-number {
  color: #000000;
}

.advantages-title-unsorted {
  color: #000000;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}

.search-title {
  color: #000000;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.search-subtitle {
  color: #333333;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
}

.search-button {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
}

.newsletter {
  color: #ffffff;
  background-color: #333333;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-image: url(../images/background_newsletter.jpg);
}

.newsletter-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.newsletter-subtitle {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.form-field {
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
}

.newsletter-button {
  color: #ffffff;
  background-color: #82b3d3;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.footer-contacts-address {
  font-style: normal;
}

.footer-contacts-address a {
  color: #000000;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.inner-header {
  color: #ffffff;
  background-color: #000000;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-image: url(../images/catalog_background.jpg);
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.breadcrumbs-link {
  color: inherit;
}

.hotel-filter-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  background-color: #999999;
  text-transform: capitalize;
}

.control {
  color: #ffffff;
  background-color: #999999;
  font-weight: 400;
}

.select-control {
  color: #333333;
  font-size: 18px;
  line-height: 21px;
}

.button-view {
  color: #000000;
  background-color: #ffffff;
}

.hotel-card-link {
  text-decoration: none;
}

.hotel-card-title {
  color: #000000;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}

.hotel-card-rating {
  font-size: 16px;
  line-height: 20px;
}

.pagination {
  background-color: #ffffff;
}

.pagination-link {
  font-size: 20px;
  line-height: 36px;
}

.pagination-current {
  color: #000000;
  background-color: #ffffff;
}

.select-control-pages {
  font-size: 18px;
  line-height: 21px;
}
